# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
# add in later

# Mac OS-specific storage files
.DS_Store

# images
.jpg

keyfile.json
local.json
node_modules
package.json
package-lock.json
sigma.js/.gitignore
sigma.js/.npmignore
sigma.js/.travis.yml
sigma.js/CHANGELOG.md
sigma.js/CONTRIBUTING.draft.md
sigma.js/Gruntfile.js
sigma.js/LICENSE.txt
sigma.js/README.md
sigma.js/examples/add-node-on-click.html
sigma.js/examples/animate.html
sigma.js/examples/api-candy.html
sigma.js/examples/basic.html
sigma.js/examples/custom-edge-renderer.html
sigma.js/examples/custom-node-renderer.html
sigma.js/examples/data/
sigma.js/examples/drag-nodes.html
sigma.js/examples/edge-renderers.html
sigma.js/examples/events.html
sigma.js/examples/filters.html
sigma.js/examples/force.html
sigma.js/examples/img/
sigma.js/examples/load-external-gexf.html
sigma.js/examples/load-external-json.html
sigma.js/examples/load-neo4j-cypher-query.html
sigma.js/examples/neighborhoods-plugin.html
sigma.js/examples/noverlap.html
sigma.js/examples/parallel-edges.html
sigma.js/examples/plugin-customEdgeShapes.html
sigma.js/examples/plugin-customShapes.html
sigma.js/examples/plugin-edgeDots.html
sigma.js/examples/plugin-snapshot.html
sigma.js/examples/scrollable-page.html
sigma.js/examples/share-camera.html
sigma.js/examples/svg-export.html
sigma.js/examples/svg-freestyle-renderer.html
sigma.js/examples/svg-renderer.html
sigma.js/package-lock.json
sigma.js/plugins/
sigma.js/src/
sigma.js/test/

